.dock {
  display: flex;
  &__item {
    &--left {
      flex: 0;
      background-color: @complement;
    }
    &--middle {
      flex: 1;
    }
    &--right {
      flex: 0;
      background-color: @complement;
    }
  }
  &__title {
    background-color: contrast(@complement, darken(@complement, 5), lighten(@complement, 5));
    color: contrast(@complement);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
  }
}
