.itemlist {
  height: 100%;
  &__item {
    display: flex;
    align-items: center;
    padding: 8px;
    color: #333;
    color: contrast(@complement, #333, #eee);
    text-decoration: none;
    > svg {
      padding-right: 7px;
      color: contrast(@complement);
    }
    &:hover {
      background-color: lighten(@complement, 3);
      color: contrast(@complement);
    }
    &--active, &--active:hover {
      background-color: lighten(@complement, 20);
      color: contrast(@complement);
    }
  }
}